:root{
    /*primary colors*/
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Cyan-opa: hsl(178, 100%, 50%, .5);

    /*neutral colors*/
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    /*font*/
    --Outfit: 'Outfit', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-family: var(--Outfit);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--Very-dark-blue-main-BG)
}

.card-container{
    width: 290px;
    height: 500px;
    background: var(--Very-dark-blue-card-BG);
    border-radius: 15px;
}

.card-container__img{
    background-image: url(./images/image-equilibrium.jpg);
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    margin: 20px auto;
}

.card-container__img:hover{
    background:transparent url(./images/icon-view.svg) no-repeat scroll 0pt 50%;
    background-position: center;
    background-color: var(--Cyan);
    opacity: 0.7;
}

.card-container__info{
    padding: 3px 20px;
    text-align: left;
}

.info__tittle:hover{
    color: var(--Cyan);
    cursor: pointer;
}

.info__tittle{
    font-weight: 600;
    color: var(--White);
}

.info__paragraph{
    font-size: 15px;
    margin: 15px 0;
    color: var(--Soft-blue);
    line-height: 1.6rem;
}

.info__summary{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15px;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    margin: 20px 0;
}

.summary__detail{
    text-align: left;
    padding-right: 20px;
}

.summary__detail h2{
    color: var(--Cyan);
    font-weight: 400;
    font-size: 1rem;
}

.summary__detail span{
    color: var(--Soft-blue);
}


.detail {
    background-color: var(--Very-dark-blue-line);
    width: 250px;
    height: 1px;
    margin-bottom: 10px;
}

.card-section__credits{
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.card-section__credits p{
    color: var(--Soft-blue);
    font-size: 14px;
    padding-top: 8px;
    padding-right: 30px;
}

.card-section__credits img{
    border: 1px solid var(--White);
    border-radius: 50%;
}

.card-section__credits span{
    color: var(--White);
}

.credits__name:hover{
    color: var(--Cyan);
    cursor: pointer;
}

@media only screen and (min-width: 1140px){

    .card-container{
        width: 300px;
        background-color: var(--Very-dark-blue-card-BG);
        border-radius: 20px;
    }

    .card-container__info{
        text-align: left;
    }

}
